{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
        <div class="user-infos-container">
          <div class="infos-col">
            <h2 class="text-3xl font-bold">
              Bem-vindo(a), {{ user.name }}!
          </h2>
          <p>Email: {{ user.email }}</p>
          </div>
          <div class="infos-col">
            <p>Nível de Acesso (Role): {{ user.role }}</p>
            <p>Idade: {{ user.age }}</p>
          </div>
        </div>

    {% endif %}
    <div class="action-buttons-container">
      {%if user.role == "Shop" %}
      <a href="/create-place" class="red-btn">Adicionar loja</a>
      {%elif user.role == "Man"%}
      <a href="/create-place" class="red-btn">Adicionar depósito</a>
      {%elif user.role == "Carr"%}
      <a href="/create-place" class="red-btn">Adicionar transportadora</a>
      {% endif %}
      <button class="red-btn" id="logout-btn">Logout</button>
    </div>
    <div class="places-cards">

    </div>
</div>

<script>
  const getUserPlaceType = (role) =>{
    switch(role){
      case "Shop":
        return "stores"
        break
      case "Man":
        return "depots"
        break
      case "Carr":
        return "carriers"
        break
    }
  }
  const getUserTextFeedback = (role) => {
    switch(userRole){
      case "Shop":
      return "Você ainda não tem nenhuma loja criada!"
      break;
      case "Man":
      return "Você ainda não tem nenhum depósito criado!"
      break;
      case "Carr":
      return "Você ainda não tem nenhuma transportadora criada!"
      break;
    }
  }
  const userRole = "{{ user.role|escapejs }}";
  const userId = "{{ user.id|escapejs }}";
  const logoutButton = document.querySelector("#logout-btn")
  const placePath = getUserPlaceType(userRole)
  const placesSection = document.querySelector(".places-cards")
  window.addEventListener("load", () => {
    try{
      fetch(`api/${placePath}`, {method: "GET"}).then(res => res.json()).then(res => {
      const userPlaces = res.data.filter(r => r.user_id == userId)
        if(userPlaces.length == 0){
        feedbackText = document.createElement("p")
        feedbackText.textContent = getUserTextFeedback(userRole)
        placesSection.appendChild(feedbackText)
        return
      }
     for(const place of userPlaces){
      if(place.user_id == userId){
        const placeCard = document.createElement("a");
        placeCard.classList.add("place-card");
        placeCard.href = `${placePath.slice(0, placePath.length - 1)}/${place.id}`

        const placeName = document.createElement("h3");
        placeName.textContent = place.name;
        placeCard.appendChild(placeName);

        // Assuming 'place.address' is an object with street, number, neighborhood, cep, city, state
        const placeRegistration = document.createElement("p");
        placeRegistration.textContent = `CNPJ: ${place.registration}`;
        placeCard.appendChild(placeRegistration);

        placesSection.appendChild(placeCard);
      }

     }
      })
    } catch(err){
      console.error("Error fetching places:", err); // Log any errors
    }
  })

  logoutButton.addEventListener("click", () => {
    try{
      fetch("api/auth/logout", {method: "POST"}).then(res => res.json()).then(data => {
        if(data.message == "User successfully logged out!"){
          alert("Logout realizado com sucesso!")
          window.location.href = "/"
          }
        })
    }catch{
      alert("Erro ao tentar fazer logout!")
    }
  })
</script>
{%endblock%}
