{% extends 'base.html' %}
{% block title %}CheapTracker{% endblock %}

{% block content %}

<div class="container">
  <div class="home-title-container">
    <h1>CheapTracker</h1>
    <p>O seu software de otimização de rotas e integração de serviços!</p>
  </div>

  <div class="main-infos-container">
    <h2>Encontre o serviço ideal para você</h2>
    <div class="roles-infos-container">
      <div class="role-card">
        <span class="icon">🛍️</span> <!-- Icon for Lojista -->
        <h3>Lojista</h3>
        <p>
          Registre a sua loja, crie seus pedidos e aproveite o melhor do
          CheapTracker
        </p>
      </div>
      <div class="role-card">
        <span class="icon">📦</span> <!-- Icon for Gestor de Depósito -->
        <h3>Depósito</h3>
        <p>
          Cadastre o seu depósito e veja quais pedidos são compatíveis com o seu
          negócio, deixe que todo o resto tomamos conta pra você!
        </p>
      </div>
      <div class="role-card">
        <span class="icon">🚚</span> <!-- Icon for Transportadora -->
        <h3>Transportadora</h3>
        <p>
          Adicione seus caminhões, atualize o status deles e envie eles para
          atender as viagens com rota mais otimizada do pedaço!
        </p>
      </div>
    </div>
  </div>

  <div class="auth-container">
    <h2>Crie a sua conta!</h2>
    <p>
      Não perca mais tempo e aproveite os nossos serviços! Caso ainda não tenha
      uma conta, não hesite em criar, vai levar menos de 2 minutos! Se já
      possuir, faça login e veja as novidades na sua dashboard!
    </p>
    <div class="auth-buttons-container">
      <a href="/login" class="auth-button">
        Entrar
      </a>
      <a href="/register" class="auth-button">
        Criar conta
      </a>
    </div>
  </div>
</div>

{%endblock%}
