{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
        <div class="user-infos-container">
          <div class="infos-col">
            <h2 class="text-3xl font-bold">
              Bem-vindo(a), {{ user.name }}!
          </h2>
          <p>Email: {{ user.email }}</p>
          </div>
          <div class="infos-col">
            <p>Nível de Acesso (Role): {{ user.role }}</p>
            <p>Idade: {{ user.age }}</p>
          </div>
        </div>

    {% endif %}
    <div class="action-buttons-container">
      {%if user.role == "Shop" %}
      <a href="/create-place" class="red-btn">Adicionar loja</a>
      <button class="red-btn">Criar pedido</button>
      {%elif user.role == "Man"%}
      <a href="/create-place" class="red-btn">Adicionar depósito</a>
      <button class="red-btn">Gerenciar pedidos</button>
      <button class="red-btn">Criar viagem</button>
      {%elif user.role == "Carr"%}
      <a href="/create-place" class="red-btn">Adicionar transportadora</a>
      <button class="red-btn">Adicionar caminhão</button>
      <button class="red-btn">Gerenciar caminhões</button>
      {% endif %}
      <button class="red-btn" id="logout-btn">Logout</button>
    </div>
    <div class="places-cards">

    </div>
</div>

<script>
  const getPlaceInfosByUserRole = (role) =>{
    switch(role){
      case "Shop":
        return "orders"
        break
      case "Man":
        return "trips"
        break
      case "Carr":
        return "trucks"
        break
    }
  }
  const userRole = "{{ user.role|escapejs }}";
  const logoutButton = document.querySelector("#logout-btn")
  const placePath = getUserPlaceType(userRole)
  const placesSection = document.querySelector(".places-cards")
  window.addEventListener("load", () => {
    try{
      fetch(`api/${placePath}`, {method: "GET"}).then(res => res.json()).then(res => {
     console.log("API Response:", res); // Log the response
     for(const place of res.data){
        const placeCard = document.createElement("div");
        placeCard.classList.add("place-card");

        const placeName = document.createElement("h3");
        placeName.textContent = place.name;
        placeCard.appendChild(placeName);

        // Assuming 'place.address' is an object with street, number, neighborhood, cep, city, state
        const placeRegistration = document.createElement("p");
        placeRegistration.textContent = `CNPJ: ${place.registration}`;
        placeCard.appendChild(placeRegistration);

        placesSection.appendChild(placeCard);
     }
      })
    } catch(err){
      console.error("Error fetching places:", err); // Log any errors
    }
  })
</script>
{%endblock%}
